@font-face {
    font-family: 'Ubuntu';
    src: url(./fonts/ubuntu-medium-webfont.woff2),
        url(./fonts/ubuntu-medium-webfont.woff);
}

:root {
    --colorDeep: #F85C70;
    --colorSigma: #FABEC0;
    --colorKappa: #fee3aeff;
    --colorSnow: #ffffff;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    font-size: 16px;
    background-color: #f7f6f7ff;

}

h1 {
    font-size: clamp(2rem, 3vw, 3vw);
    padding-top: 10px;
    width: 90%;
}

a {
    color: #FABEC0;
    font-weight: bold;
}

header {
    padding: 10px 100px;
    background-color: var(--colorSnow);
    user-select: none;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 5px;
}

footer a {
    color: var(--colorDeep);
    font-size: 30px;
    text-decoration: none;
}

section {
    padding: 10px 0px;
    margin: auto;
}


.container {
    display: flex;
    color: var(--colorSnow);
    width: 80vw;
    user-select: none;
}

.alpha {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

}

.aang {
    display: flex;
    height: 500px;
    width: 250px;
    background-color: var(--colorKappa);
    border-radius: 20px 0px 0px 0px;
}

.bang {
    display: flex;
    height: 500px;
    width: 300px;
    margin-left: 100px;
    position: absolute;

}

.bang>img {
    height: auto;
    pointer-events: none;
}

.beta {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: var(--colorDeep);
    border-radius: 20px;
    user-select: none;
}

.xBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.xLeft {
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #F37970;
    color: var(--colorSnow);
}

.yBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 10px;
}

.yLeft {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 2;
    flex-wrap: wrap;
}

.yRight {
    flex: 1.3;
}

.zBox {
    display: flex;
    align-items: center;
}

.zLeft {
    margin-right: 10px;
    flex: 2;
}

.zRight {
    flex: 1.3;
}

.zChannel {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 5px;
    width: 150px;
    color: var(--colorSnow);
    background-color: #000000;
}

hr {
    margin: 10px 0px;
    border: 1px solid var(--colorSnow);
}

form {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
}

button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    filter: brightness(1.2);
}


#pwCheck {
    height: 1rem;
    border: 1px transparent solid;
}

.pwError {
    color: #272E2F;
    font-size: 14px;
    font-weight: bold;
}

form input[type="text"],
input[type="email"],
input[type="password"] {
    flex: 1;
    font: inherit;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--colorSigma);
    background-color: var(--colorSnow);
    color: #272E2F;

}

#confirmPassword {
    margin-bottom: 2px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border: 0.15rem solid var(--colorSigma);
    transform: translateY(-0.075em);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none !important;
    border-color: #272E2F;
    box-shadow: 0 0 5px var(--colorSigma);
}

input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--colorSnow);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

div.tosCheck {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px;
    gap: 15px;
}

div .fmRest {
    display: flex;
    height: 70px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.fmRest>button {
    flex: 1;
    width: 150px;
    height: 60px;
    background-color: #272E2F;
    color: var(--colorSnow);
}

.fmRest>p {
    flex: 1;
    width: 150px;
    margin-left: 10px;
    text-align: right;
}